/* Enter your Styles below! */




body { 
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	color: #858585;
	 }

.portfolio-experiment {
	margin: auto;
}


.portfolio-experiment a {
	 color: #6abbe9;
	 padding: 0.7em calc(0.7em * 1.2);
	 display: inline-block;
	 border: 3px solid transparent;
	 position: relative;
	 font-size: 1.2em;
	 cursor: pointer;
	 letter-spacing: 0.07em;
	 text-decoration: none;
}
 .portfolio-experiment a .text {
	 font-family: proxima-nova, monospace;
	 transform: translate3d(0, 0.7em, 0);
	 display: block;
	 transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
 .portfolio-experiment a:after {
	 position: absolute;
	 content: '';
	 bottom: -3px;
	 left: calc(0.7em * 1.2);
	 right: calc(0.7em * 1.2);
	 height: 3px;
	 background: #6abbe9;
	 transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
	 transform-origin: left;
}
 .portfolio-experiment .line {
	 position: absolute;
	 background: #6abbe9;
}
 .portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
	 width: 3px;
	 bottom: -3px;
	 top: -3px;
	 transform: scale3d(1, 0, 1);
}
 .portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
	 height: 3px;
	 left: -3px;
	 right: -3px;
	 transform: scale3d(0, 1, 1);
}
 .portfolio-experiment .line.-right {
	 right: -3px;
	 transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
	 transform-origin: top;
}
 .portfolio-experiment .line.-top {
	 top: -3px;
	 transition: transform 0.08s linear 0.43s;
	 transform-origin: left;
}
 .portfolio-experiment .line.-left {
	 left: -3px;
	 transition: transform 0.08s linear 0.51s;
	 transform-origin: bottom;
}
 .portfolio-experiment .line.-bottom {
	 bottom: -3px;
	 transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
	 transform-origin: right;
}
 .portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
	 transform: translate3d(0, 0, 0);
	 transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
 .portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
	 transform: scale3d(0, 1, 1);
	 right: -3px;
	 left: -3px;
	 transform-origin: right;
	 transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
 .portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
	 transform: scale3d(1, 1, 1);
}
 .portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
	 transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
	 transform-origin: bottom;
}
 .portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
	 transition: transform 0.08s linear 0.4s;
	 transform-origin: right;
}
 .portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
	 transition: transform 0.08s linear 0.48s;
	 transform-origin: top;
}
 .portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
	 transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
	 transform-origin: left;
}
 


h1, h2, h3, h4 {
	font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

nav ul { 
	width: 100%;
	background-color: #FFFFFF;
	margin: 0;
	
	list-style: none; 
	display: flex;
	justify-content: center;
}

nav li { padding: 10px 5px; }





header {margin-bottom: 20px;
 	width: 10%;
 	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 50px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

iframe { width: 100%; }

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.menucontent {
	display: grid;
	grid-template-columns: 1fr;
	width: 70%;
	margin: auto;
	padding-top: 50px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 100%;
	margin: auto;
	padding-top: 100px;
	line-height: 22px;
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	margin: 250px;
	margin-top: 100px;
	line-height: 22px;
	padding-bottom: 100px;
}

.grid2 div {
	background-color: #ffffff;
	padding: 10px;
	margin: auto;
}

.grid div {
	background-color: #ffffff;
	padding: 20px;
}

hr  { 
	width: 360px; 
	border-top: 1px solid grey;
	  margin-top: 40px;
	  

}

.siteinfo {
	padding-top: 50px;
}

.maincontent {
	margin: auto;
  width: 100%;
  padding: 10px;
  line-height: 22px;
}

.maincontent2 {
	margin: auto;
  width: 100%;
  padding: 10px;
  line-height: 22px;
}

.gallerycontent {
	padding-top: 100px;
	text-align: center;
}


/*-------FLIP CARD GALLERY-------*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  max-width: 100rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
}

.back{
  background-color: #6abbe9;
    color: #FFFFF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
}

.back .inner span{
  color: #FFFFF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 0;
    background-color: #FFF;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background-color: #FFFFF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: #FFFFF;
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}







@media only screen and (min-width: 1024px) {

	.grid {

		width: 80%;
	}
	img {
	width: 100%;
	height: auto;
}

}



@media only screen and (min-width: 1024px) {

	.grid2 {

		width: 100%;
	}



	iframe {
	width: 100%;
	height: 200%;
}

}


footer {
	font-size: 10px;

}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/